$base-color-primary: var(--el-color-primary);
$base-color-danger: #ff4949;
$base-color-warning: #ffba00;
$base-color-success: #13ce66;
$base-color-info: #1e1e1e;

// sidebar
$v-sidebar-bg: #2b2f3a;
$v-sidebar-width: 210px;
$h-sidebar-bg: $base-color-primary;

// sidebar-logo
$logo-bg: #2b2f3a;
$logo-text: #fff;

// sidebar-vertical
$v-menu-text: #fff;
$v-menu-active-text: $base-color-primary;
$v-menu-hover-text: #fff;
$v-menu-bg: #304156;
$v-menu-hover-bg: #263445;
$v-menu-active-bg: #263445;
$v-menu-active-line-bg: $base-color-primary;
$v-sub-menu-text: #fff;
$v-sub-menu-active-text: $base-color-primary;
$v-sub-menu-hover-text: #fff;
$v-sub-menu-bg: #304156;
$v-sub-menu-hover-bg: #263445;
$v-sub-menu-active-bg: #263445;
$v-sub-menu-active-line-bg: $base-color-primary;

// sidebar-horizontal
$h-menu-text: #333;
$h-menu-active-text: $base-color-primary;
$h-menu-hover-text: $base-color-primary;
$h-menu-bg: #fff;
$h-menu-hover-bg: #ebf3fe;
$h-menu-active-bg: #ebf3fe;
$h-menu-active-line-bg: $base-color-primary;
$h-sub-menu-text: #333;
$h-sub-menu-active-text: $base-color-primary;
$h-sub-menu-hover-text: $base-color-primary;
$h-sub-menu-bg: #fff;
$h-sub-menu-hover-bg: #ebf3fe;
$h-sub-menu-active-bg: #ebf3fe;
$h-sub-menu-active-line-bg: rgb(0 0 0 / 0%);
